<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"></link>
</head>

<body>
    <div class="container column courier">
        <h1 class="header1">Login</h1>
        <form action="/login" method="post">
            <div class="one-line column">
                <label for="username">Username</label>
                <input placeholder="username" name="username" id="username">
            </div>
            <div class="one-line column">
                <label for="password">Password</label>
                <input placeholder="password" name="password" id="password">
            </div>
            <br>
            <button class="btn courier" href="/login" id="submitButton" type="submit">Submit</button>
        </form>
        
        <div class="one-line column">
            <p>Don't have an account?</p>
            <a href="http://127.0.0.1:4000/register">Click here to register</a>
        </div>
    </div>
            
            
            
      
    </div>
   
</body>
</html>